@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  font-size: 16px;

  --tab-width: 14vw;
  --window-padding : 5%;
  --app-border-radius: 30px;
}


.app-container {
  background: var(--bg-bg);

  width: 100vw;
  height: 100vh;
}

.app{
  width: calc(100% - 2*var(--window-padding));
  height: calc(100% - 2*var(--window-padding));
  position: relative;
  left: var(--window-padding);
  top : var(--window-padding);
  display: block;
  overflow: hidden;


  border-radius: var(--app-border-radius);
  box-shadow: 10px 20px 40px rgba(0, 0, 0, 0.8);
}

.Dark {

  --border-color: #b8dadd72;
  --key-button-color: #b8dadd34;
  --key-button-hover-color: #b8dadd7b;
  --bg-gradient: linear-gradient(135deg, #11131d, #1f242e);
  --tab-bg-gradient : linear-gradient(135deg, transparent, transparent);
  --tab-font-color : var(--text-color);
  --tab-box-shadow : None;
  --tab-border-color : var(--border-color);
  --flash-color : aquamarine;
  --text-color : rgb(184, 196, 195);
  --button-bg-color : rgb(184, 196, 195);
  --button-font-color : #11131d;
  --small-contrast : rgba(255,255,255,0.01);
  --medium-contrast : rgba(255,255,255,0.1);
  --hight-contrast : rgba(255,255,255,0.2);

  --bg-bg : linear-gradient(135deg, #ff4800, #d0ff00);
}


.Light {
  
  
  --border-color: #3a313472;
  --key-button-color: #151a1a34;
  --key-button-hover-color: #1f24257b;
  --bg-gradient: linear-gradient(225deg, #f9f3eb, #7e7c78);
  --tab-bg-gradient : linear-gradient(135deg, rgb(255, 0, 72), rgb(228, 187, 51));
  --tab-font-color : var(--button-font-color);
  --tab-box-shadow : 5px 5px 15px rgba(0, 0, 0, 0.1);
  --tab-border-color : rgba(234, 255, 0, 0.852);
  --flash-color : rgb(255, 0, 64);
  --text-color : rgb(45, 43, 51);
  --button-bg-color : rgb(45, 43, 51);
  --button-font-color : #f9f3eb;
  --small-contrast : rgba(0,0,0,0.01);
  --medium-contrast : rgba(0,0,0,0.1);
  --hight-contrast : rgba(0,0,0,0.2);

  --bg-bg : linear-gradient(135deg, #aa00ff, #007bff);


}

.theme {
  background-size: cover; 
  background-attachment: fixed;
  background: var(--bg-gradient);
  color: var(--text-color);
}



a {
  text-decoration: none;
  color : var(--text-color);
}

button {
  border-radius: 8px;
  border: none;
  padding: 11px 15px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-bg-color);
  color: var(--button-font-color);
  cursor: pointer;
}

.page {
  margin-top: 30px;
  margin-left: calc(var(--tab-width) + 30px);
  margin-right: 30px;
  display: block;
  overflow-y: scroll;
}



.page::-webkit-scrollbar {
  display: none;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */